.position-header {
  height: 60px;
}

.header {
  position: fixed;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 0 60px;
  margin: 0 auto;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: $header-text-size;
  overflow: hidden;
  p {
    color: $header-text-color;
    font-weight: 600;
    margin: 0 6px;
    padding: 6px 12px;
    letter-spacing: 6px;
    transition: background-color 0.4s ease, border-radius 0.4s ease; // 添加过渡效果
    &:hover {
      background-color: $header-text-bg-color;
      border-radius: 20px;
    }
  }

  &::before {
    display: inline-block;
    content: ' ';
    position: absolute;
    z-index: -10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    filter: blur(60px);
    mix-blend-mode: overlay;
  }
}

.left {
}

.middle {
  position: relative;
  width: 100%;
  height: 100%;
}

.middle-up,
.middle-down {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.middle-up {
  white-space: nowrap;
}

.middle-down {
  //
}

.right {
  //
}

// /**
//  * ----------------------------------------
//  * menu up 动画
//  * ----------------------------------------
//  */
.menu-up-animation-show {
  animation: menu-up-animation-show 0.4s linear both;
}
@keyframes menu-up-animation-show {
  0% {
    top: calc(50% - 60px);
    transform: translate(-50%, -50%) rotateX(90deg);
  }
  100% {
    top: calc(50%);
    transform: translate(-50%, -50%) rotateX(0deg);
  }
}
.menu-up-animation-hide {
  animation: menu-up-animation-hide 0.4s linear both;
}
@keyframes menu-up-animation-hide {
  0% {
    top: calc(50%);
    transform: translate(-50%, -50%) rotateX(0deg);
  }
  100% {
    top: calc(50% - 60px);
    transform: translate(-50%, -50%) rotateX(90deg);
  }
}

// /**
//  * ----------------------------------------
//  * menu down 动画
//  * ----------------------------------------
//  */
.menu-down-animation-show {
  animation: menu-down-animation-show 0.4s linear both;
}
@keyframes menu-down-animation-show {
  0% {
    top: calc(50% + 60px);
    transform: translate(-50%, -50%) rotateX(-90deg);
  }
  100% {
    top: calc(50%);
    transform: translate(-50%, -50%) rotateX(0deg);
  }
}
.menu-down-animation-hide {
  animation: menu-down-animation-hide 0.4s linear both;
}
@keyframes menu-down-animation-hide {
  0% {
    top: calc(50%);
    transform: translate(-50%, -50%) rotateX(0deg);
  }
  100% {
    top: calc(50% + 60px);
    transform: translate(-50%, -50%) rotateX(-90deg);
  }
}

// /**
//  * ----------------------------------------
//  * 左侧 Logo 动画
//  * ----------------------------------------
//  */
.flip-scale-down-hor {
  &:hover {
    animation: flip-scale-down-hor 0.8s linear both;
  }
}
@keyframes flip-scale-down-hor {
  0% {
    transform: scale(1) rotateX(0);
  }
  50% {
    transform: scale(1.4) rotateX(180deg);
  }
  100% {
    transform: scale(1) rotateX(360deg);
  }
}
